html {
  background-color: #0c0c0c;
  background-image: url("../assets/texture.gif");
}

#loader {
  width: 100vw;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  justify-content: center;
  align-items: center;
  cursor: hide;
}
#loader img {
  width: 70%;
}

@media (min-width: 1240px) {
  body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    color: rgb(220, 220, 220);
    font-family: Lack, sans-serif;
    box-sizing: border-box;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    -moz-column-gap: 1.5625vw;
         column-gap: 1.5625vw;
    row-gap: 1.5625vw;
    cursor: url("../assets/cursors/cursor.svg"), auto;
  }
  a {
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  header {
    display: grid;
    border: 0.3125vw 0px;
    grid-template: inherit;
    grid-gap: inherit;
    filter: drop-shadow(0px 5px 5px #171717);
    font-size: 0.78125vw;
    border-bottom: rgb(220, 220, 220) 1px solid;
  }
  header a {
    display: flex;
    color: rgb(220, 220, 220);
    text-decoration: none;
    text-align: center;
    width: 9.6875vw;
    height: 11.9444444444vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  header [class*=header] {
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  header [class*="3d_icon"] {
    width: 9.6875vw;
    height: 11.9444444444vh;
  }
  [class*=about_text] {
    display: flex;
    font-size: 1.9375vw;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-bottom: rgb(220, 220, 220) 1px solid;
    border-top: rgb(220, 220, 220) 1px solid;
  }
  .design_skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .prog_skills {
    display: flex;
    flex-direction: column;
  }
  h2 {
    text-align: center;
    font-size: 1.953125vw;
  }
  ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
  }
  ul li {
    font-size: 1.3671875vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(220, 220, 220);
    color: transparent;
    width: 100%;
    height: 50;
    text-align: center;
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  [class*=skills_ul] .hide {
    visibility: hidden;
  }
  [class*=skills_ul] img {
    position: relative;
    width: 100%;
    height: 200%;
    top: -122%;
    z-index: -1;
  }
  [class*=skills_container] {
    margin: 5% 10%;
    width: 80%;
    height: 1.5625vw;
    border: solid rgb(220, 220, 220) 1px;
  }
  [class*=skills_container] [class*=skills_bar] {
    width: 0%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    transition: width 1s;
  }
  [class*=education_container] {
    height: 1.5625vw;
    border: solid rgb(220, 220, 220) 1px;
  }
  [class*=education_container] [class*=education_bar] {
    width: 0%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    transition: width 2s;
  }
  [class*=education_dates_ul] li {
    text-align: left;
    display: inline-flex;
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  [class*=education_dates_ul] .hide {
    visibility: hidden;
  }
  [class*=education_dates_ul] img {
    position: relative;
    height: 210%;
    top: -76%;
    left: -18%;
    z-index: -1;
  }
  .education_text {
    text-align: center;
    margin: 0;
  }
  .about_contacts {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .about_contacts a {
    text-align: center;
  }
  .about_contacts img {
    width: 40%;
    margin: 5% 0;
  }
  footer {
    border-top: solid rgb(220, 220, 220) 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer h3 {
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  .body_error {
    overflow-y: hidden;
  }
  .error_text {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32.1875vw;
    z-index: 2;
  }
  .error_script {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #D90429;
    font-family: Baguette, cursive;
    font-size: 9.6875vw;
    line-height: 100%;
  }
  .trail {
    position: absolute;
    height: 7.5px;
    width: 7.5px;
    background: #D90429;
    z-index: -2;
  }
  body {
    grid-template-columns: repeat(9, 9.6875vw);
  }
  .body_about {
    grid-template-rows: repeat(19, 11.9444444444vh);
  }
  header {
    grid-column: 1/10;
    grid-row: 1/2;
  }
  header h3 {
    display: none;
  }
  header .header_3d {
    display: initial;
  }
  header [class*=design] {
    grid-column: 3/4;
  }
  [class*=about_text] {
    grid-column: 1/10;
    grid-row: 2/8;
  }
  .design_skills {
    grid-column: 2/5;
    grid-row: 8/11;
  }
  .prog_skills {
    grid-column: 2/5;
    grid-row: 11/14;
  }
  .about_images {
    grid-column: 5/9;
    grid-row: 8/14;
  }
  .education {
    grid-column: 2/9;
    grid-row: 14/16;
  }
  .about_contacts {
    grid-column: 2/9;
    grid-row: 16/18;
  }
  footer {
    grid-column: 1/10;
    grid-row: 19/20;
  }
  .body_error {
    grid-template-rows: repeat(7, 11.9444444444vh);
  }
  .error_text {
    grid-column: 2/5;
    grid-row: 2/6;
  }
  .error_script {
    grid-column: 2/5;
    grid-row: 2/6;
  }
  .error_sign {
    grid-column: 6/9;
    grid-row: 2/6;
  }
}
@media (min-width: 768px) and (max-width: 1240px) {
  body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    color: rgb(220, 220, 220);
    font-family: Lack, sans-serif;
    box-sizing: border-box;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    -moz-column-gap: 2.0833333333vw;
         column-gap: 2.0833333333vw;
    row-gap: 2.0833333333vw;
    cursor: url("../assets/cursors/cursor.svg"), auto;
  }
  a {
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  header {
    display: grid;
    border: 0.4166666667vw 0px;
    grid-template: inherit;
    grid-gap: inherit;
    filter: drop-shadow(0px 5px 5px #171717);
    font-size: 1.0416666667vw;
    border-bottom: rgb(220, 220, 220) 1px solid;
  }
  header a {
    display: flex;
    color: rgb(220, 220, 220);
    text-decoration: none;
    text-align: center;
    width: 11.5625vw;
    height: 8.9583333333vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  header [class*=header] {
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  header [class*="3d_icon"] {
    width: 11.5625vw;
    height: 8.9583333333vh;
  }
  [class*=about_text] {
    display: flex;
    font-size: 2.3125vw;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-bottom: rgb(220, 220, 220) 1px solid;
    border-top: rgb(220, 220, 220) 1px solid;
  }
  .design_skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .prog_skills {
    display: flex;
    flex-direction: column;
  }
  h2 {
    text-align: center;
    font-size: 2.6041666667vw;
  }
  ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
  }
  ul li {
    font-size: 1.8229166667vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(220, 220, 220);
    color: transparent;
    width: 100%;
    height: 50;
    text-align: center;
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  [class*=skills_ul] .hide {
    visibility: hidden;
  }
  [class*=skills_ul] img {
    position: relative;
    width: 100%;
    height: 200%;
    top: -122%;
    z-index: -1;
  }
  [class*=skills_container] {
    margin: 5% 10%;
    width: 80%;
    height: 2.0833333333vw;
    border: solid rgb(220, 220, 220) 1px;
  }
  [class*=skills_container] [class*=skills_bar] {
    width: 0%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    transition: width 1s;
  }
  [class*=education_container] {
    height: 2.0833333333vw;
    border: solid rgb(220, 220, 220) 1px;
  }
  [class*=education_container] [class*=education_bar] {
    width: 0%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    transition: width 2s;
  }
  [class*=education_dates_ul] li {
    text-align: left;
    display: inline-flex;
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  [class*=education_dates_ul] .hide {
    visibility: hidden;
  }
  [class*=education_dates_ul] img {
    position: relative;
    height: 210%;
    top: -76%;
    left: -18%;
    z-index: -1;
  }
  .education_text {
    text-align: center;
    margin: 0;
  }
  .about_contacts {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .about_contacts a {
    text-align: center;
  }
  .about_contacts img {
    width: 40%;
    margin: 5% 0;
  }
  footer {
    border-top: solid rgb(220, 220, 220) 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer h3 {
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  .body_error {
    overflow-y: hidden;
  }
  .error_text {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 38.8541666667vw;
    z-index: 2;
  }
  .error_script {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #D90429;
    font-family: Baguette, cursive;
    font-size: 11.5625vw;
    line-height: 100%;
  }
  .trail {
    position: absolute;
    height: 7.5px;
    width: 7.5px;
    background: #D90429;
    z-index: -2;
  }
  body {
    grid-template-columns: repeat(7, 11.5625vw);
  }
  .body_about {
    grid-template-rows: repeat(21, 8.9583333333vh);
  }
  header {
    grid-column: 1/8;
    grid-row: 1/2;
  }
  header h3 {
    display: none;
  }
  header .header_3d {
    display: initial;
  }
  header [class*=design] {
    grid-column: 2/3;
  }
  [class*=about_text] {
    grid-column: 1/8;
    grid-row: 2/10;
  }
  .design_skills {
    grid-column: 3/6;
    grid-row: 10/12;
  }
  .prog_skills {
    grid-column: 3/6;
    grid-row: 12/14;
  }
  .about_images {
    grid-column: 2/7;
    grid-row: 14/18;
  }
  .education {
    grid-column: 2/7;
    grid-row: 18/20;
  }
  .education [class*=education_dates_ul] li img {
    top: -80%;
    left: -30%;
  }
  .about_contacts {
    grid-column: 2/7;
    grid-row: 20/21;
  }
  footer {
    grid-column: 1/8;
    grid-row: 21/22;
  }
  .body_error {
    grid-template-rows: repeat(10, 8.9583333333vh);
  }
  .error_text {
    grid-column: 3/6;
    grid-row: 2/5;
  }
  .error_script {
    grid-column: 3/6;
    grid-row: 2/5;
  }
  .error_sign {
    grid-column: 2/8;
    grid-row: 5/8;
  }
}
@media (max-width: 768px) {
  body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    color: rgb(220, 220, 220);
    font-family: Lack, sans-serif;
    box-sizing: border-box;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    -moz-column-gap: 5.5555555556vw;
         column-gap: 5.5555555556vw;
    row-gap: 5.5555555556vw;
    cursor: url("../assets/cursors/cursor.svg"), auto;
  }
  a {
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  header {
    display: grid;
    border: 1.1111111111vw 0px;
    grid-template: inherit;
    grid-gap: inherit;
    filter: drop-shadow(0px 5px 5px #171717);
    font-size: 2.7777777778vw;
    border-bottom: rgb(220, 220, 220) 1px solid;
  }
  header a {
    display: flex;
    color: rgb(220, 220, 220);
    text-decoration: none;
    text-align: center;
    width: 5vw;
    height: 10.625vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  header [class*=header] {
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  header [class*="3d_icon"] {
    width: 5vw;
    height: 10.625vh;
  }
  [class*=about_text] {
    display: flex;
    font-size: 1vw;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-bottom: rgb(220, 220, 220) 1px solid;
    border-top: rgb(220, 220, 220) 1px solid;
  }
  .design_skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .prog_skills {
    display: flex;
    flex-direction: column;
  }
  h2 {
    text-align: center;
    font-size: 6.9444444444vw;
  }
  ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
  }
  ul li {
    font-size: 4.8611111111vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(220, 220, 220);
    color: transparent;
    width: 100%;
    height: 50;
    text-align: center;
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  [class*=skills_ul] .hide {
    visibility: hidden;
  }
  [class*=skills_ul] img {
    position: relative;
    width: 100%;
    height: 200%;
    top: -122%;
    z-index: -1;
  }
  [class*=skills_container] {
    margin: 5% 10%;
    width: 80%;
    height: 5.5555555556vw;
    border: solid rgb(220, 220, 220) 1px;
  }
  [class*=skills_container] [class*=skills_bar] {
    width: 0%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    transition: width 1s;
  }
  [class*=education_container] {
    height: 5.5555555556vw;
    border: solid rgb(220, 220, 220) 1px;
  }
  [class*=education_container] [class*=education_bar] {
    width: 0%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    transition: width 2s;
  }
  [class*=education_dates_ul] li {
    text-align: left;
    display: inline-flex;
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  [class*=education_dates_ul] .hide {
    visibility: hidden;
  }
  [class*=education_dates_ul] img {
    position: relative;
    height: 210%;
    top: -76%;
    left: -18%;
    z-index: -1;
  }
  .education_text {
    text-align: center;
    margin: 0;
  }
  .about_contacts {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .about_contacts a {
    text-align: center;
  }
  .about_contacts img {
    width: 40%;
    margin: 5% 0;
  }
  footer {
    border-top: solid rgb(220, 220, 220) 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer h3 {
    cursor: url("../assets/cursors/hand.svg"), auto;
  }
  .body_error {
    overflow-y: hidden;
  }
  .error_text {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26.1111111111vw;
    z-index: 2;
  }
  .error_script {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #D90429;
    font-family: Baguette, cursive;
    font-size: 5vw;
    line-height: 100%;
  }
  .trail {
    position: absolute;
    height: 7.5px;
    width: 7.5px;
    background: #D90429;
    z-index: -2;
  }
  html {
    overflow-x: hidden;
  }
  body {
    grid-template-columns: repeat(10, 5vw);
  }
  .body_about {
    grid-template-rows: repeat(23, 10.625vh);
  }
  header {
    grid-column: 1/11;
    grid-row: 1/2;
  }
  header [class*="3d_icon"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .header_3d {
    display: none;
  }
  header [class*=design] {
    grid-column: 1/3;
  }
  header [class*=photo] {
    grid-column: 3/5;
  }
  header [class*=home] {
    grid-column: 5/7;
  }
  header [class*=about] {
    grid-column: 7/9;
  }
  header [class*=contacts] {
    grid-column: 9/11;
  }
  [class*=about_text] {
    grid-column: 1/11;
    grid-row: 2/9;
  }
  .design_skills {
    grid-column: 2/10;
    grid-row: 9/12;
  }
  .prog_skills {
    grid-column: 2/10;
    grid-row: 12/15;
  }
  .about_images {
    grid-column: 2/10;
    grid-row: 15/20;
  }
  .education {
    grid-column: 2/10;
    grid-row: 20/23;
  }
  .education [class*=education_dates_ul] li {
    display: initial;
  }
  .education [class*=education_dates_ul] li img {
    top: -120%;
  }
  .about_contacts {
    grid-column: 2/10;
    grid-row: 22/23;
  }
  footer {
    grid-column: 1/11;
    grid-row: 23/24;
  }
  .body_error {
    grid-template-rows: repeat(8, 10.625vh);
  }
  .error_text {
    grid-column: 4/8;
    grid-row: 2/5;
    font-size: 100%;
  }
  .error_script {
    grid-column: 4/8;
    grid-row: 2/5;
    font-size: 550%;
  }
  .error_sign {
    grid-column: 2/10;
    grid-row: 5/7;
  }
}/*# sourceMappingURL=style.css.map */