body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background-color: #0c0c0c;
  color: rgb(220, 220, 220);
  display: grid;
  -moz-column-gap: 1.5625vw;
       column-gap: 1.5625vw;
  grid-template-columns: repeat(9, 9.6875vw);
  row-gap: 1.5625vw;
  grid-template-rows: repeat(20, 11.9444444444vh);
  font-family: Lack, sans-serif;
  box-sizing: border-box;
}

header {
  display: grid;
  border: 0.3125vw 0px;
  grid-template: inherit;
  grid-gap: inherit;
  grid-column: 1/10;
  grid-row: 1/2;
  filter: drop-shadow(0px 5px 5px #171717);
  font-size: 0.78125vw;
  border-bottom: rgb(220, 220, 220) 1px solid;
}
header a {
  display: flex;
  color: rgb(220, 220, 220);
  text-decoration: none;
  text-align: center;
  width: 9.6875vw;
  height: 11.9444444444vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
header [class*=header] {
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header [class*=design] {
  grid-column: 3/4;
}
header [class*="3d_icon"] {
  width: 9.6875vw;
  height: 11.9444444444vh;
}

[class*=about_text] {
  display: flex;
  font-size: 1.9375vw;
  grid-column: 2/9;
  grid-row: 2/8;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-bottom: rgb(220, 220, 220) 1px solid;
}
[class*=about_text] [class*=base] {
  z-index: 1;
  color: rgb(220, 220, 220);
  font-family: Roboto Mono, monospace;
}
[class*=about_text] [class*=hide] {
  opacity: 0;
}
[class*=about_text] [class*=over] {
  z-index: 2;
  color: #D90429;
  font-family: Permanent Marker Regular, cursive;
}

.skills_1 {
  grid-column: 2/5;
  grid-row: 8/11;
}

.skills_2 {
  grid-column: 2/5;
  grid-row: 11/14;
}

.about_images {
  grid-column: 5/9;
  grid-row: 8/14;
}

.education {
  grid-column: 2/9;
  grid-row: 15/17;
}

.about_contacts {
  grid-column: 2/9;
  grid-row: 17/19;
}

footer {
  background-color: green;
  grid-column: 1/10;
  grid-row: 20/21;
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.5s ease-in both;
  animation: puff-in-center 0.5s ease-in both;
}

@-webkit-keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
.puff-out-center {
  -webkit-animation: puff-out-center 0.5s ease-out both;
  animation: puff-out-center 0.5s ease-out both;
}

@-webkit-keyframes puff-out-center {
  0% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */