@use "sass:math";
$bg_black: #0c0c0c;
$accent_black: #1B1B1B;
$white: rgb(220,220,220);
$red: #D90429;
$title_font: Lack, sans-serif;
$script_font: Baguette, cursive;
$desktop_col: math.div(186px, 1920px)*100vw;
$desktop_row: math.div(129px, 1080px)*100vh;
$desktop_gap: math.div(30px, 1920px)*100vw;

#loader{
    width:100vw;
    display:flex;
    position:absolute;
    top:$desktop_row;
    left:0;
    justify-content: center;
    align-items: center;

    img{
        width: 70%;
    }
}

body{
    width:100vw;
    margin: 0;
    overflow-x:hidden;
    background-color: $bg_black;
    color: $white;
    font-family: Lack, sans-serif;
    box-sizing: border-box;
    height:fit-content;
    display: grid;
    column-gap: $desktop_gap;
    grid-template-columns: repeat(9, $desktop_col);
    row-gap: $desktop_gap;
}

.body_about{
    grid-template-rows: repeat(19, $desktop_row);
}

header{
    display:grid;
    border: $desktop_gap /5 0px;
    grid-template: inherit;
    grid-gap: inherit;

    grid-column: 1 / 10;
    grid-row: 1 / 2;
    filter: drop-shadow(0px 5px 5px #171717);
    font-size: $desktop_gap / 2;

    border-bottom: $white 1px solid;

    a{
        display: flex;
        color: $white;
        text-decoration:none;
        text-align: center;
        width: $desktop_col;
        height: $desktop_row;
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly;
    }
    [class*="header"]{
        display: flex;
        justify-items: center;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    [class*="design"]{
        grid-column: 3 / 4;
    }

    [class*="3d_icon"]{
        width: $desktop_col;
        height: $desktop_row;
}
}

div{
    //border: solid red 1px;
}

[class*='about_text']{
    display: flex;
    font-size: $desktop_col / 5;
    grid-column: 1 / 10;
    grid-row:  2 / 8;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    border-bottom: $white 1px solid;

}

.design_skills{
    grid-column: 2 / 5;
    grid-row: 8 / 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prog_skills{
    grid-column: 2 / 5;
    grid-row: 11 / 14;
    display: flex;
    flex-direction: column;

}

h2{
    text-align:center;
    font-size: 5 * $desktop_gap / 4;
}

ul{
    list-style: none;
    padding: 0;
    display: inline-flex;
    width:100%;
    justify-content: space-evenly;
    
    li {
        font-size: 7* $desktop_gap / 8;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $white;
        color:transparent;
        width:100%;
        height: 50;
        text-align:center;
    }
}

[class*="skills_ul"]{
    .hide{
        visibility: hidden;
    }
    img{
        position: relative;
        width: 100%;
        height: 200%;
        top: -122%;
        z-index:-1;
    }
}

[class*="skills_container"]{
    margin: 5% 10%;
    width: 80%;
    height: $desktop_gap;
    border: solid $white 1px;
    
    [class*="skills_bar"]{
        width:0%;
        height:100%;
        background-color: $white;
        transition: width 1s;
    }
}

.about_images{
    grid-column: 5 / 9;
    grid-row: 8 / 14;
}

.education{
    grid-column: 2 / 9;
    grid-row: 14 / 16;
}

[class*="education_container"]{
    height: $desktop_gap;
    border: solid $white 1px;
    
    [class*="education_bar"]{
        width:0%;
        height:100%;
        background-color: $white;
        transition: width 2s;
    }
}

[class*="education_dates_ul"]{
    li{
        text-align:left;
        display: inline-flex;
    }
       
    .hide{
        visibility: hidden;
    }
    img{
        position: relative;
        height: 210%;
        top: -76%;
        left: -16%;
        z-index:-1;
    }
}


.education_text{
    text-align:center;
    margin: 0;
}

.about_contacts{
    grid-column: 2 / 9;
    grid-row: 16 / 18;
    background-color: yellow;
}

footer{
    background-color:green;
    grid-column: 1 / 10;
    grid-row: 19 / 20;
}

.body_error{
    grid-template-rows: repeat(7, $desktop_row);
    overflow-y:hidden;
}

.error_text{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 5  ;
    grid-row: 2 / 6;
    width: 3*$desktop_col + 2*$desktop_gap;
    z-index:2;
}

.error_script{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $red; 
    font-family: $script-font;
    font-size: $desktop_col;
    grid-column: 2 / 5  ;
    grid-row: 2 / 6;
    line-height: 100%;
}

.error_sign{
    grid-column: 6 / 9;
    grid-row: 2 / 6;
}

